# Server Configuration
PORT=8000
HOST=0.0.0.0

# Inngest Configuration (Local Dev Server usually requires no keys)
INNGEST_DEV_SERVER_URL=http://localhost:8288
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
